body {
    background-color: #000; /* Cor de fundo preto para o tema noturno */
    color: #fff; /* Cor do texto branco */
    padding-top: 20px; /* Espaçamento superior para compensar */
}

.video-container {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #6c757d; /* Cor de fundo cinza */
    border-radius: 10px; /* Borda arredondada */
}

.video-caption {
    margin-top: 10px;
    color: #ccc; /* Cor do texto da legenda */
}

/* Estilos específicos para o tema noturno */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-dark .navbar-toggler:hover {
    background-color: #fff;
}
